body {
	overflow: hidden;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
}

/* Theme */
.light {
	--background: #f0e7db;
	--background-light: #f4ede4;
	--text-color: #000000;
	--text-primary: #ffa500;
	--text-green: #7ec727;
	--background-card: #e3f2fd;
}

.dark {
	--background: #202023;
	--background-light: #202023;
	--text-color: #e3e3e3;
	--text-primary: #ffa500;
	--text-green: #7ec727;
	--background-card: #333336;
}

@media (prefers-color-schema: dark) {
	:root {
		--background: #202023;
		--background-light: #202023;
		--text-color: #e3e3e3;
		--text-primary: #ffa500;
		--text-green: #7ec727;
		--background-card: #333336;
	}
}
