@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jaro:opsz@6..72&family=Jersey+15&family=Manrope:wght@200..800&family=Pixelify+Sans:wght@400..700&display=swap");
body {
	overflow: hidden;
	font-optical-sizing: auto;
	font-family: "IBM Plex Mono", monospace;
	/* Hide scrollbar */
	* {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */
	}

	*::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Edge */
	}
}

/* Theme */
.light {
	--background: #f0e7db;
	--background-light: #f4ede4;
	--text-color: #000000;
	--text-primary: #ffa500;
	--text-green: #7ec727;
	--background-card: #ccd5ae;
	--link: #0077b6;
}

.dark {
	--background: #202023;
	--background-light: #202023;
	--text-color: #e0e1dd;
	--text-primary: #ffa500;
	--text-green: #7ec727;
	--background-card: #333336;
	--link: #90e0ef;
}

@media (prefers-color-schema: dark) {
	:root {
		--background: #202023;
		--background-light: #202023;
		--text-color: #e3e3e3;
		--text-primary: #ffa500;
		--text-green: #7ec727;
		--background-card: #333336;
		--link: #90e0ef;
	}
}
